<div class = "container">
    <div class="row">
        <div class="col-3">
            <h2>Student CREDENTIALS</h2>
            <form (ngSubmit)="searchGithubUser() " id="search-form" #form="ngForm">
                <input class ="form-control" ngModel="search" type="text">
                <button type="submit" class="btn btn-block btn-search"> click </button>
            </form>   
        </div>

        <div class="col-6">
            <div>
                <img [src]="user?.avatar_url" alt="devpic">
                
            </div>

            <div>
                <h2>{{user?.login}}</h2>
                <p>{{user?.public_repos}}</p>
                <p>{{user?.created_at|date}}</p>
                <p>{{user?.followers}}</p>
                <p>{{user?.following}}</p>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class ="col-4" *ngFor="let repos of repo; let i=index">
            
            <div class="card" >
                <div class="card-body">
                    <h2>{{repos.name}}</h2>
                </div>
        
                <div class="card-body list-group">
                    <div class="list-group-item ">
                        <a href="{{repos.html_url }}" target="_blank" class="card-link">View repository </a>
                        <p class="card-text description">{{repos.description}}</p>

                      <p class="card-text">Created on: {{repos.created_at|date}}</p>
                      </div>
                      </div>
            </div>

        </div>
    </div>
</div>